<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<h2>Book: <%= room.name %></h2>
<form method="POST" action="/bookings">
  <input type="hidden" name="roomId" value="<%= room._id %>">
  <label>Check-in: <input type="date" name="checkIn"></label>
  <label>Check-out: <input type="date" name="checkOut"></label>
  <button type="submit">Confirm Booking</button>
</form>

<% errors.forEach(e => { %><p style="color:red;"><%= e.msg %></p><% }) %>

<%- include('../partials/footer') %>
